h1 {
  font-weight: 700;
  font-family: 'League Spartan', sans-serif;
}

h2 {
  font-weight: 500;
  font-family: 'League Spartan', sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 12px;
  font-family: 'League Spartan', sans-serif;
}